

@font-face {
    src: url(font/LemonJellyPersonalUse-dEqR.ttf);
    font-family: lemonjelly;
}
* { margin:0; padding:0; box-sizing:border-box; }

body{
    
    background-color: #F0EAD2;
    color: #226f54;
    font-family: 'Roboto Mono',Georgia, Helvetica, sans-serif;  
    
}

/* id */

#my-photo {
    position: relative;
    width: 80%;
    margin-top: 10%;
    margin-left: 3rem;
}
#about-text{
    position: absolute;
   
    top: -10%;
    border-bottom: 3px solid #F7B801;
}

#about-me-section {
    position: relative;
    background-color: white;
    height: 100vh;
    width: 100%;
    margin-top: 30%;
}
#work-section{
    height: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 50%;

}

/* class */
.description{
    width: 80%;
    position: absolute;
    margin-top: -3em;
    margin-left: 6em;
    justify-content: center;
    background-color: #F7B801;

}
.greeting-message{
    padding-top: 8em;
    text-align: center;
    margin-top: 10%;
}
img:hover{
    transform: scale(1.2,1.2);
}
.nav-link:hover{
    border-bottom: 2px solid #ff206e;
}

.btn:hover{
    background-color: rgba(107, 107, 107, 0.671);
}
/* elements */

footer{
    margin-top: 20%;
    width: 100%;
    height: 50%;
      
}

p{
    color: #ff206e;
}
