

@font-face {
    src: url(font/LemonJellyPersonalUse-dEqR.ttf);
    font-family: lemonjelly;
}

body{
    padding: 0;
    margin: 0;
    background-color: #F0EAD2;
    color: #7678ED;
    font-family: 'Roboto Mono',Georgia, Helvetica, sans-serif;  
    
}

/* id */

#my-photo {
    position: relative;
    width: 80%;
    margin-top: 10%;
    margin-left: 3rem;
}
#about-text{
    position: absolute;
   
    top: -10%;
    border-bottom: 3px solid #F7B801;
}

#about-me-section {
    position: relative;
    background-color: white;
    height: 100vh;
    width: 100%;
    margin-top: 30%;
}
#work-section{
    height: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 50%;

}

/* class */
.description{
    width: 80%;
    position: absolute;
    margin-top: -3em;
    margin-left: 6em;
    justify-content: center;
    background-color: #F7B801;

}
.greeting-message{
    padding-top: 8rem;
    text-align: center;
}

.nav-link{
    color: #F7B801; 
}
.nav-item{
    margin: 10px;
}
.silde-bar{
    margin-top: 100vh;
}
.btn{
    background-color: #F7B801;
    border: none;
}
.navbar-light{
    background-color: #6C584C;
    
}
.side-nav {
    width:2%;
    height: 20%;
    position: fixed;
    background-size: cover;
    background-repeat: repeat;
    left: 0;
    bottom: 0;
    z-index:  1000;
    background-attachment: scroll;
    border-right: 4px solid #ADC178;
}

.side-nav ul {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-140%);
}

.nav-link:hover{
    color: #F7B801;
    border-bottom: 2px solid #F7B801;
}

.nav-item a img:hover {
    transform: scale(1.2,1.2);
}
.card a img{
    filter: grayscale(100%);
}
.card a img:hover{
    filter: grayscale(0%);
    transform: scale(1.1,1.1);
}

a:hover {
    transform: scale(1.2,1.2);
}

footer{
    margin-top: 20%;
    width: 100%;
    height: 100px;
    background-color: #6c584c59;    
}

footer p {
    padding-top: 40px;
}

.loading-icon{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeout {
    100% {
        opacity: 0;
        visibility: hidden;
    }
    
}
.loading-icon.hidden {
    animation: fadeout 5s;
    animation-fill-mode: forwards;
}